                                                            .header {
                                                                padding: 5px;
                                                                text-align: center;
                                                                background: rgb(158, 155, 155);
                                                                color: white;
                                                                font-size: 30px;
                                                            }
                                                            
                                                            .container {
                                                                position: relative;
                                                                text-align: center;
                                                                color: white;
                                                            }
                                                            
                                                            .botton-left {
                                                                position: absolute;
                                                                bottom: 8px;
                                                                left: 16px;
                                                            }
                                                            
                                                            body {
                                                                min-height: 100vh;
                                                                padding: 1rem;
                                                                background-color: azure;
                                                                margin: 0;
                                                            }
                                                            
                                                            main {
                                                                width: 100%;
                                                                max-width: 56rem;
                                                                gap: 1rem;
                                                            }
                                                            
                                                            .card-row {
                                                                display: flex;
                                                                flex-wrap: wrap;
                                                                gap: 1rem;
                                                                color: rgb(0, 0, 0);
                                                            }
                                                            
                                                            .card {
                                                                background-color: rgb(207, 200, 186);
                                                                min-width: 5rem;
                                                                flex: 1;
                                                                padding: 1rem;
                                                                box-sizing: border-box;
                                                                transition: all 0.25s;
                                                                border-radius: 0.5rem;
                                                            }
                                                            
                                                            .shadow {
                                                                box-shadow: 0 0.25rem 1.25rem rgb(80, 80, 81);
                                                            }
                                                            
                                                            .card img {
                                                                width: 100%;
                                                                border-radius: 0.25rem;
                                                                height: 80%;
                                                            }
                                                            
                                                            a.card:hover {
                                                                transform: scale(1.05);
                                                                box-shadow: 0 0.25rem 1.25rem rgb(80, 80, 81);
                                                            }
                                                            
                                                            a.card:active {
                                                                transform: scale(0.15);
                                                                transition: 0.15s;
                                                            }
                                                            
                                                            .button {
                                                                background-color: #b6926d;
                                                                border: none;
                                                                color: white;
                                                                padding: 15px 32px;
                                                                text-align: center;
                                                                text-decoration: none;
                                                                display: inline-block;
                                                                font-size: 16px;
                                                            }
                                                            
                                                            h1 {
                                                                font-size: 2.5rem;
                                                                text-align: center;
                                                                line-height: 150%;
                                                            }