body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 150%;
}

h2,
h3,
h4,
h5,
h6 html {
    height: 100%;
}

main {
    max-width: 56rem;
    width: 100%;
    max-height: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    background-color: rgb(245, 216, 229);
    min-width: 18rem;
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.hero {
    background-color: rgb(171, 218, 232);
    color: rgb(28, 29, 30);
    padding: 4rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

a.card {
    text-decoration: none;
    color: inherit;
}